*{
    padding: 0;
}

.div_conteiner_conteudo .div_grafico{
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 91vh;
    overflow: auto;
}

.div_conteiner_conteudo .div_grafico .title_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* flex-direction: column; */
    gap: .5em;
}

.div_conteiner_conteudo .div_grafico .title_box .div_select{
    width: 35%;
}

.div_conteiner_conteudo .div_grafico .title_box .div_select select{
    width: 70%;
    padding: .5em;
    outline: none;
    border: none;
    border-radius: 25px;
}

.div_conteiner_conteudo .div_grafico .title_box .div_select button{
    width: 100px;
    cursor: pointer;
    border: none;
    background: #D7FFC2;
    border-radius: 25px;
    box-shadow: 2px 2px 6px #48724c;
}

.div_conteiner_conteudo .div_grafico .container_grafico{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_conteiner_conteudo .div_grafico .container_grafico span{
    padding: 2em;
    gap: 2em;
    width: 100%;
    /* height: 400px; */
    display: flex;
    justify-content: center;
}

.div_conteiner_conteudo .div_grafico .container_grafico span .plantacao_grafico{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    width: 50%;
    /* height: 100%; */
    background-color: rgba(255, 255, 255);
    border-radius: 25px;
}

.div_conteiner_conteudo .div_grafico .container_grafico span .plantacao_grafico h2{
    /* height: 10%; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid #609966;
    border-radius: 25px 25px 0 0;
}

.div_conteiner_conteudo .div_grafico .container_grafico span .plantacao_grafico canvas{
    width: 100%;
    height: 90%;
    border: 2px solid #609966;
    border-radius: 0 0 25px 25px;
    padding: 1em;
}

button{
    width: 25%;
    padding: .5em;
    
}

.div_indicadores_plantacoes{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
}

.div_indicadores_plantacoes .box_indicador{
    width: 45%;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #609966;
    box-shadow: 2px 2px 10px #48724c;
}
